{namespace com.michielroos.bitbucket.chainsaw.branch.table}

/**
 * @param branch
 */
{template .delete}
	{if $branch.isDefault == false}
	<div class="checkbox">
		<input type="checkbox" name="delete" value="{$branch.id}" class="branch-list-delete" data-branch-id="{$branch.id}"/>
	</div>
	{/if}
{/template}
