{namespace com.michielroos.bitbucket.chainsaw.branchDeletion}

/**
 * Content of the confirmation dialog that allows to delete the branch.
 *
 **/
{template .dialog}
    <p>
        {{getText('bitbucket.feature.branch-deletion.dialog.text', '<b class="branch-name"></b>')|noAutoescape}}
    </p>
{/template}
