<html>
<head>
	<meta name="decorator" content="bitbucket.repository.general"/>
	<meta name="projectKey" content="$repository.project.key"/>
	<meta name="repositorySlug" content="$repository.slug"/>
	<meta name="activeTab" content="bitbucket.repository.nav.chainsaw"/>
##	$webResourceManager.requireResource("com.michielroos.bitbucket.chainsaw:branch-table.resources")
##	$webResourceManager.requireResource("com.michielroos.bitbucket.chainsaw:branch-table.webresources")
##	#requireResourcesForContext("com.michielroos.bitbucket.chainsaw.branch-table")
##	#requireResourcesForContext("bitbucket.layout.branch")
##	#requireResourcesForContext("bitbucket.page.repository.branches")
	<title>Chainsaw for $repository.project.key / $repository.slug</title>
</head>
<body>
<header class="aui-page-header page-header-flex">
	<div class="aui-page-header-inner">
		<div class="aui-page-header-main">
			<ol class="aui-nav aui-nav-breadcrumbs repository-breadcrumbs" resolved="">
				<li><a href="$navBuilder.project($repository.project.key).buildRelative()" title="$repository.project.key">$repository.project.key</a></li>
				<li class="aui-nav-selected"><a href="$navBuilder.repo($repository).browse().buildRelative()" title="$repository.slug">$repository.slug</a></li>
			</ol>
			<h2 class="page-panel-content-header">Chainsaw</h2>
		</div>
	</div>
</header>
<condition class="com.atlassian.bitbucket.web.conditions.RepositoryNotEmptyCondition"/>

<div class="notifications"></div>
<table class="aui paged-table branch-table" id="branch-list">
	<thead>
	<tr>
		<th id="branch-name-column" scope="col">Branch</th>
	##		<th id="ahead-behind-column" scope="col">Behind/Ahead</th>
		<th id="last-updated-column" scope="col">Updated</th>
	##		<th id="pull-requests-column" scope="col">Pull requests</th>
	##		<th id="build-status-branch-list-col" scope="col" style="display: none;">Builds</th>
		<th id="branch-actions-column" scope="col">Delete</th>
	</tr>
	</thead>
	<tbody>
	<tr class="base-branch focused" data-id="$defaultBranch.id">
		<td headers="branch-name-column" class="branch-name-column">
			<div><span class="aui-icon aui-icon-small aui-iconfont-devtools-branch"></span>
				<div class="line">
					<div class="default-branch-lozenge aui-lozenge aui-lozenge-subtle aui-lozenge-complete" title="Default branch of the repository">Default branch</div>
					<a href="$navBuilder.repo($repository).compare().sourceBranch($defaultBranch.id).targetBranch($defaultBranch.id).buildRelative()" title="$defaultBranch.displayId">$defaultBranch.displayId</a></div>
			</div>
		</td>
	##				<td headers="ahead-behind-column" class="ahead-behind-column"></td>
		<td headers="last-updated-column" class="last-updated-column">
			<time title="Last updated by Anna Buttfield on 03 February 2011 06:01 AM" datetime="2011-02-03T06:01:07+0100">03 Feb 2011</time>
		</td>
	##				<td headers="pull-requests-column" class="pull-requests-column"></td>
		<td headers="branch-actions-column" class="branch-actions-column">
		</td>
	</tr>
		#foreach ($branch in $branches)
			#if ($branch.isDefault == false)
			<tr data-id="$branch.id">
				<td headers="branch-name-column" class="branch-name-column">
					<div><span class="aui-icon aui-icon-small aui-iconfont-devtools-branch"></span>
						<div class="line">
							<a href="$navBuilder.repo($repository).compare().sourceBranch($branch.id).targetBranch($defaultBranch.id).buildRelative()"
							   title="$branch.displayId">$branch.displayId</a>
						</div>
					</div>
				</td>
			##				<td headers="ahead-behind-column" class="ahead-behind-column">
			##					<div class="ahead-behind-graph" title="4 commits behind master">
			##						<div class="assistive">4 commits behind master</div>
			##						<div class="count-graph behind-graph">
			##							<div class="count-bar" style="width: 16.0944%;">&nbsp;</div>
			##							<div class="count">4</div>
			##						</div>
			##						<div class="count-graph ahead-graph empty-count">
			##							<div class="count-bar" style="width: 0%;">&nbsp;</div>
			##							<div class="count">0</div>
			##						</div>
			##					</div>
			##				</td>
				<td headers="last-updated-column" class="last-updated-column">
					<time title="Last updated by $branch.getLastCommit().getAuthor().getName() on $longDate.format($branch.getLastCommit().getAuthorTimestamp())"
							  datetime="$machineDate.format($branch.getLastCommit().getAuthorTimestamp())">
						$shortDate.format($branch.getLastCommit().getAuthorTimestamp())
					</time>
				</td>
			##				<td headers="pull-requests-column" class="pull-requests-column"></td>
				<td headers="branch-actions-column" class="branch-actions-column">
					<input type="checkbox" value="$branch.id"/>
				</td>
			</tr>
			#else
			#end
		#end
	</tbody>
</table>
</body>
</html>